@page
@using OOD.WeddingPlanner.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using OOD.WeddingPlanner.Web.Pages.Tables
@using OOD.WeddingPlanner.Localization
@using OOD.WeddingPlanner.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<WeddingPlannerResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Table"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Table"].Value);
    PageLayout.Content.MenuItemName = WeddingPlannerMenus.Table;
}

@section scripts
{
<abp-script src="/Pages/Tables/index.js" />
}
@section styles
{
<abp-style src="/Pages/Tables/index.css" />
}

<div id="table-card">
    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column size-md="_6">
                    <abp-card-title>@L["Table"]</abp-card-title>
                </abp-column>
                <abp-column size-md="_6" class="text-right">
                    @if (await Authorization.IsGrantedAsync(WeddingPlannerPermissions.Table.Create))
                    {
                        <abp-button id="NewTableButton"
                                text="@L["CreateTable"].Value"
                                icon="plus"
                                button-type="Primary" />
                    }
                </abp-column>
            </abp-row>
        </abp-card-header>
        <abp-card-body>
            <abp-row>
                <abp-column size-md=_3>
                    <abp-select asp-for="Wedding" data-bind="select2, options: weddings, optionsText: 'text', optionsValue: 'value', value: wedding"></abp-select>
                </abp-column>
                <abp-column size-md=_3>
                    <abp-select asp-for="Event" data-bind="select2, options: events, optionsText: 'text', optionsValue: 'value', value: event"></abp-select>
                </abp-column>
            </abp-row>
        </abp-card-body>
    </abp-card>
    <abp-row>
        <div class="container-fluid">
            <abp-row data-bind="template: { name: 'table-template', foreach: tables }"></abp-row>
        </div>
    </abp-row>
</div>

<script type="text/html" id="table-template">
    <abp-column size-md=_4>
      <abp-card>
        <abp-card-header>
          <abp-container>
            <abp-row>
              <abp-column size-md=_9>
                <h4 data-bind="text: name"></h4>
                <span data-bind="text: description"></span>
              </abp-column>
              <abp-column size-md=_3 class="text-right">
                <span class="btn btn-secondary" data-bind="visible: canEdit, click: editTable"><i class="fas fa-pencil-alt"></i></span>
                <span class="btn btn-danger" data-bind="visible: canDelete, click: deleteTable"><i class="fas fa-trash"></i></span>
              </abp-column>
            </abp-row>
            <hr class="m-2" />
            <abp-row class="text-center">
              <abp-column>
                <span>@L["TableRow"]:</span> <span data-bind="text: row"></span> &nbsp; <span>@L["TableColumn"]:</span> <span data-bind="text: column"></span>
              </abp-column>
            </abp-row>
          </abp-container>
        </abp-card-header>
        <abp-card-body>
          <div class="container-fluid" data-bind="template: { name: 'invitee-template', foreach: guests }"></div>
        </abp-card-body>
      </abp-card>
    </abp-column>
</script>

<script type="text/html" id="invitee-template">
    <abp-row class="lh-44">
      <abp-column size-md=_1>
        <span class="no-word-wrap" data-bind="text: number() + '.'"></span>
      </abp-column>
      <abp-column size-md=_10>
        <select data-bind="select2, options: invitees, optionsText: 'text', optionsValue: 'value', value: invitee" />
      </abp-column>
    </abp-row>
</script>