@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using OOD.WeddingPlanner.Localization
@inject IHtmlLocalizer<WeddingPlannerResource> L
@model OOD.WeddingPlanner.Web.Pages.Invitations.CreateModalModel
@{
  Layout = null;
}
<form abp-model="ViewModel" data-ajaxForm="true" asp-page="CreateModal">
  <abp-modal>
    <abp-modal-header title="@L["CreateInvitation"].Value"></abp-modal-header>
    <abp-modal-body>
      <div class="@(Model.ViewModel.WeddingItems.Count <= 1?"d-none":"")">
        <abp-select asp-for="ViewModel.WeddingId" asp-items="Model.ViewModel.WeddingItems" />
      </div>
      <abp-select asp-for="ViewModel.DesignId" asp-items="Model.ViewModel.DesignItems" />
      <abp-input asp-for="ViewModel.Destination" />
      <abp-select asp-for="ViewModel.InviteeIds" asp-items="Model.ViewModel.InviteeItems" />
      <abp-input asp-for="ViewModel.PlusOne" />
      <abp-select asp-for="ViewModel.GroomSide" asp-items="Model.ViewModel.BooleanItems" />
      <abp-select asp-for="ViewModel.BrideSide" asp-items="Model.ViewModel.BooleanItems" />
      <div>
        <label asp-for="ViewModel.Notes"></label>
        <textarea class="form-control" asp-for="ViewModel.Notes"></textarea>
      </div>
      <abp-input asp-for="ViewModel.UniqueCode" />
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
  </abp-modal>
</form>