body {
}
.navbar-bg {
    display: none;
}
.main-navbar {
    display: none;
}
.main-sidebar {
    display: none;
}

div.main-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
}