@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using OOD.WeddingPlanner.Localization
@inject IHtmlLocalizer<WeddingPlannerResource> L
@model OOD.WeddingPlanner.Web.Pages.InvitationDesigns.CreateModalModel
@{
    Layout = null;
}
<abp-dynamic-form abp-model="ViewModel" data-ajaxForm="true" asp-page="CreateModal">
    <abp-modal size=ExtraLarge>
        <abp-modal-header title="@L["CreateInvitationDesign"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-tabs tab-style="Pill">
                <abp-tab title="Settings">
                    <abp-form-content />
                </abp-tab>
                <abp-tab title="Body">
                    <label asp-for="ViewModel.Body"></label>
                    <textarea asp-for="ViewModel.Body"></textarea>
                </abp-tab>
                <abp-tab title="Preview">
                    <div id="preview" class="shadow p-3 mb-5 bg-white rounded vh60"></div>
                </abp-tab>
            </abp-tabs>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>