@page
@using OOD.WeddingPlanner.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IHtmlLocalizer<WeddingPlannerResource> L
@model OOD.WeddingPlanner.Web.Pages.InvitationDesigns.EditModalModel
@{
  Layout = null;
}
<abp-dynamic-form abp-model="ViewModel" data-ajaxForm="true" asp-page="EditModal">
  <abp-modal size=ExtraLarge>
    <abp-modal-header title="@L["EditInvitationDesign"].Value"></abp-modal-header>
    <abp-modal-body>
      <abp-input asp-for="Id" />
      <abp-tabs tab-style="Pill">
        <abp-tab title="Settings">
          <abp-form-content />
        </abp-tab>
        <abp-tab title="Body">
          <textarea asp-for="ViewModel.Body"></textarea>
        </abp-tab>
        <abp-tab title="PDF Preview">
          <div>
            <span id="pdf-previous" class="btn btn-primary"><span class="fas fa-arrow-left"></span></span>
            <span id="pdf-page" class="btn btn-secondary disabled"></span>
            <span id="pdf-next" class="btn btn-primary"><span class="fas fa-arrow-right"></span></span>
          </div>
          <div class="shadow p-3 mb-5 bg-white rounded vh60" id="container-preview" style="overflow-y: scroll">
            <canvas id="pdf-preview"></canvas>
          </div>
        </abp-tab>
        @*<abp-tab title="HTML Preview">
          <div class="shadow p-3 mb-5 bg-white rounded vh60">
            <iframe id="preview"></iframe>
          </div>
        </abp-tab>*@
      </abp-tabs>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
  </abp-modal>
</abp-dynamic-form>
