@page
@using OOD.WeddingPlanner.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IHtmlLocalizer<WeddingPlannerResource> L
@model OOD.WeddingPlanner.Web.Pages.Invitees.EditModalModel
@{
  Layout = null;
}
<form abp-model="ViewModel" data-ajaxForm="true" asp-page="EditModal">
  <abp-modal>
    <abp-modal-header title="@L["EditInvitee"].Value"></abp-modal-header>
    <abp-modal-body>
      <abp-input asp-for="Id" />

      <abp-input asp-for="ViewModel.Surname" />
      <abp-input asp-for="ViewModel.Name" />
      <abp-select asp-for="ViewModel.Child" asp-items="Model.ViewModel.BooleanItems" />
      <abp-select asp-for="ViewModel.Male" asp-items="Model.ViewModel.BooleanItems" />
      <abp-select asp-for="ViewModel.Menu" asp-items="Model.ViewModel.MenuTypes" />
      <abp-input asp-for="ViewModel.Order" />
      <div class="@(Model.ViewModel.WeddingItems.Count <= 1?"d-none":"")">
        <abp-select asp-for="ViewModel.WeddingId" asp-items="Model.ViewModel.WeddingItems" />
      </div>
      <abp-select asp-for="ViewModel.InvitationId" asp-items="Model.ViewModel.InvitationItems" />
      <abp-input asp-for="ViewModel.RSVP" />
      <abp-select asp-for="ViewModel.Confirmed" asp-items="Model.ViewModel.BooleanItems" />
      <abp-select asp-for="ViewModel.PlusOne" asp-items="Model.ViewModel.BooleanItems" />

      <abp-form-content />
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
  </abp-modal>
</form>
